<div class="meta">
	<a class="date">
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<%- date(page.date, "YYY-MM-DD") %>
	</a>
	<a class="tag">
		<i class="fa-snowflake-o" aria-hidden="true"></i>
	</a>
</div>